[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}
django-widgets-engine = {path = "."}
jinja2 = "*"
wheel = "*"
twine = "*"
readme-renderer = "*"

[requires]
python_version = "3.8"
